video{
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: fixed;
}
.hero-container{
    
    width: 100%;
    height: 100vh;
    object-fit: contain;
    display: flex;
    flex-direction: column;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    align-items: center;
    text-align: center;
    justify-content: center;
}
.hero-container > h1{
    color: white;
    font-size: 80px;
    margin-top: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.hero-container > p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 8px;
    font-size: 32px;
    color: white;
}
.hero-btns .btn{
    margin: 6px;
}
.fa-play-circle{
    margin-left: 4px;
}
@media screen and (max-width:960px)  {
    
    .hero-container > h1{   
        font-size: 80px;
        margin-top: 100px;  
    }
}
@media screen and (max-width:768px){
    .hero-container > h1{   
        font-size: 50px;
        margin-top: 150px;  
    }
    .hero-container >p{
        font-size: 30px;
    }
    .btn-mobile{
        display: block;
        text-decoration: none;
    }
    .btn{
        width: 100%;
    }
}
